
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url('../images/back3.png');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

/*Nav Bar Styling*/
.logo {
  border-radius: 50%;
  float: left;
  margin: 10px 0 0 10px;
}

.nav-bar {
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  height: 150px;
}

.nav-2 {
  display: none;
}

.nav-bar ul {
  flex-wrap: wrap;
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.nav-bar ul li {
  width: 120px;
  padding: 15px;
  margin: 15px;
}

.nav-item a, .nav-2-item a {
  text-decoration: none;
  color: #fff;
}

.active, .nav-item:hover {
  background: rgb(10,0,0);
  border-radius: 5px;
}

.nav-bar .fa {
    margin-right: 8px;
}

.sub-nav {
    display: none;
}

.nav-item:hover .sub-nav {
    display: block;
    position: absolute;
    background-color: rgb(10,0,0);
    margin-top: 15px;
    margin-left: -15px;
}

.nav-item:hover .sub-nav ul {
  display: block;
  margin: 10px;
}

.nav-item:hover .sub-nav-item {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}

.nav-item:hover .sub-nav-item:last-child {
    border-bottom: none;
}

.nav-item:hover .sub-nav-item:hover {
    color: grey;
}

.sub-sub-nav {
    display: none;
}

.fa-angle-right {
    float: right;
}

.more-item:hover .sub-sub-nav {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(10,0,0);
}

/*Main Form */
.login-box {
    position: relative;
    width: 300px;
    top: 40%;
    left: 40%;
    color: grey;
}

.forget a {
  text-decoration: none;
  font-weight: bolder;
}

.forget a:hover {
  border-bottom: 1px solid grey;
}
.button-border {
  border-bottom: 4px solid #3be60f;
  transition: all 1s ease-out;
}

.display {
  display: none;
}

#login {
    float: left;
    font-size: 30px;
    margin-bottom: 50px;
    padding: 13px 0;
    cursor: pointer;
}

#register {
    float: right;
    font-size: 30px;
    margin-bottom: 50px;
    padding: 13px 0;
    cursor: pointer;
}

.text-box {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #3be60f;
}

.text-box i {
    width: 26px;
    float: left;
    text-align: center;
}

.text-box input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #3be60f;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    color: green;
    font-weight: bolder;
}

.copyright {
    position: absolute;
    top: 100%;
    left: 40%;
    margin: 20px;
    padding: 10px;
    color: white;
    font-size: 20px;
    line-height: 1.5;
}


@media screen and (max-width: 1024px) {
  .menu-show {
    display: flex;
    flex-flow: wrap column;
    height: 80px;
    padding: 10px;
    margin: 10px;
  }

  .menu-display {
    display: block;
  }

  .nav-bar {
    position: relative;
    z-index: 2;
  }

  .nav-1 li {
    display: none;
  }

  .nav-2 li {
    display: none;
  }

  /*.nav-2 li {
    opacity: 0;
  }

  .nav-2 li .fade {
    opacity: 1;
  }*/

  /*.nav-2 li {
    opacity: 0;
  }*/

  .nav-2 {
    position: absolute;
    display: flex;
    flex-flow: wrap column;
    background: transparent;
    width: 250px;
    height: 700px;
    background: rgb(0,0,0);
    top: 0;
    left: 0px;
    opacity: 0.8;
    display: none;
    z-index: 2;
  }

  .nav-2 ul {
    width: 200px;
    
  }

  .nav-2 li {
    width: 100px;
    height: 60px;
    padding: 15px;
    margin: 15px;
  }

  .more-item:hover .sub-sub-nav {
    display: none;
  }

  .nav-item:hover .sub-nav {
    display: none;
  }

  .active, .nav-item:hover {
    background: rgb(0,0,0);
  }

/*Hanbuger Logo*/
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
 }

 .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 20px;
    z-index: 5;
    transform: translate(-5px, -50%);
 }

/*Login Form*/
 .login-box {
      position: relative;
      top: 40%;
      left: 20%
    }

}
